.coronavirus-banner {
  background-color: red;
  color: white;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 2001;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
    justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
    align-items: center;
}


.coronavirus-banner__title {
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
  font-size: 110%;
}

.coronavirus-banner__title strong { font-weight: bold; }

.coronavirus-banner__icon {
  margin-right: .5em;
}
.coronavirus-banner__icon svg {
  width: auto;
  max-width: none;
  height: 100%;
  max-height: 32px;
}

.coronavirus-banner__button {
  padding: 8px;
  margin-left: 2em;
  color: red;
  border-color: white;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.2s ease-in-out;
}
.coronavirus-banner__button:hover,
.coronavirus-banner__button:active,
.coronavirus-banner__button:focus {
  color: red;
  background-color: white;
  transform: translateY(2px);
  opacity: 0.9;
}


@media screen and (min-width: 769px) {
  .coronavirus-banner__title { font-size: 150%; }
}

@media screen and (min-width: 992px) {
  .coronavirus-banner__title { font-size: 180%; }
}
